html,
body {
    height: 100%;
    font-style: normal;
}

.container {
    font-size: 16px;
}

.title {
    font-size: 24px;
    color: #000;
    text-align: center;
    text-decoration: none;
}

.title:hover {
    cursor: pointer;
}

.error-summary {
    color: #a94442;
}

.label {
    margin: 3px;
    color: #001;
}

footer {
    margin-top: 30px;
    font-size: 12px;
}